<form class="form-inline" action="/surveys" method="post">
  <label for="title">New Survey</label>
  <input class="form-control" type="text" name="title" placeholder="Title">
  <button class="btn btn-primary" type="submit">Create Survey</button>
</form>

<% if @surveys.any? %>
  <ul class="nav nav-pills nav-stacked">
    <% @surveys.each() do |survey| %>
      <li>
        <a href="/surveys/<%= survey.id() %>"><%= survey.title() %></a>
      </li>
    <% end %>
  </ul>
<% end %>
