<h5>Manage Survey</h5>
<h1><%= @survey.title %></h1>

<form action="/surveys/<%= @survey.id %>/questions" method="post">
  <div class="form-group">
    <label for="question">New Question</label>
    <textarea class="form-control" name="question" rows="4" placeholder="Title"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create Question</button>
  </div>
</form>

<% if @questions.any? %>
  <ul>
    <% @questions.each() do |question| %>
      <li><%= question.question() %></li>
    <% end %>
  </ul>
<% end %>
